.developer-page{
    text-align: center;
    .header-sec-our-dev{
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
        padding: 10px ;
        align-items: center;
        .search-box{
            position: relative;
            input{
                width: 80%;
                background-color: rgb(255, 255, 255);
                border: none;
                margin-right: 10px;
                color: #000000;
            }
            button{
                background-color: #000;
                border: 1px solid #fff;
                svg{
                    color: #fff;
                }
            }
            .show-ser-res{
                width: 100%;
                position: absolute;
                left: 0;
                top: 120%;
                table{
                    .close{
                        background-color: #fff;
                        color: #000;
                        cursor: pointer;
                    }
                    tr{
                        td{
                            img{
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                            
                            }
                        }
                    }
                }
            }
        }
    }
    .tablewrap{
        width: 80%;
            margin: auto;
            background: #000000;
            min-height: 420px;
            margin-bottom: -17px;
            .table{
                thead{}
                tbody{
                    tr{
                        
                        td{
                            img{
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }
                            button{
                                padding: 0px 15px;
                                font-size: 20px;
                                color: #fff;
                                border: none;
                                margin: 5px;
                                border-radius: 10px;
                            }
                        }
                    }
                    
                }
                
            }
        }
        
        .pagenation{
        border-top: 1px solid rgb(138, 138, 138);
        width: 80%;
        background-color: rgb(0, 0, 0);
        margin: auto;
        padding: 8px ;
        margin-bottom: 100px;
        .items{
            button{
                background-color: rgb(253 104 0);
                border: none;
                margin: 0px 3px;
                color: #fff;
            }
        }
    }
}